{
  "presets": [ "flow", "es2015", "react" ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-regenerator",
    "transform-class-properties",
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": [ "Map", "Error", "Array" ]
      }
    ]
  ]
}